body {
	font-family: sans-serif;
	margin: 1em;
}

pre {
	font-family: inherit;
	font-size: inherit;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

pre em {
	font-style: normal;
	font-weight: bold;
}

pre .comment {
	color: #800000;
	display: inline-block;
	max-width: 42em;
	vertical-align: text-top;

	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

pre .string {
	color: #767676;
}
